*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    transition: .3s all ease-in-out;
}

html, body{
    cursor: url("img/cursor.png"), auto !important;
    overflow-x: hidden;
}


.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.video-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(26,26,26);
    opacity: 0.6;
}

header{
    width: 100%;
    height: 100vh;
}

.typewrite{
    color: rgb(212, 170, 106);
    font-size: 5em;
    z-index: 2;
    padding-right: 5%;
    line-height: 1.5em;
    height: 1.5em;
    width: 11em;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.typewrite span{
    color: white;
    text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#cursor {
    display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 1em;
    background: rgb(218, 40, 40);
    z-index: 2;
    animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: rgb(218, 40, 40); 
	}
}

.navbar{
    z-index: 4;
}

.nav-item:not(:last-of-type){
    margin-right: 3.5em;
}

.nav-item{
    padding-bottom: 1%;
}

.nav-item.active{
    border-bottom: 0.5px solid rgb(218, 40, 40);
}

.navbar.scrolled .nav-item.active {
    border-bottom: 0.5px solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(212, 170, 106, 0.726);
}

.navbar-brand .nav-logo{
    height: 40px;
    width: 120px;
    background: url("img/logo-text.png") no-repeat;
    background-position: 0;
    background-size: 120px;
}

nav.scrolled{
    background: rgb(26,26,26) !important;
}

.navbar-toggler{
    outline: none !important;
    border: none;
}

.navbar-toggler span{
    display: block;
    margin: 8px;
    height: 2px;
    width: 32px;
    background: white;
}

.navbar-toggler span:nth-of-type(2){
    margin-left: auto;
    width: 24px;
}

.navbar-toggler span:nth-of-type(3){
    margin-left: auto;
    width: 16px;
}

.navbar-toggler:hover span{
    width: 32px;
}

.navbar-toggler:not(.collapsed) span:nth-of-type(1){
    width: 32px;
    transform: rotate(45deg)  translate(0, -100%);
    transform-origin: center left;
}
.navbar-toggler:not(.collapsed) span:nth-of-type(3){
    width: 32px;
    transform: rotate(-45deg)  translate(0, 100%);;
    transform-origin: center left; 
}

.navbar-toggler:not(.collapsed) span:nth-of-type(2){
    background: transparent;
}


.progress-container {
    width: 100%;
    height: 4px;
    background: transparent;
    z-index: 4;
    position: fixed;
    top: 65px;
  }
  
.progress-bar {
    height: 4px;
    background: rgb(218, 40, 40);
    width: 0%;
  }

.wrapper{
    padding: 7.5% 0;
    width: 100%;
    height: 100%;
}

.section-index{
    color: rgba(212, 170, 106, 0.726);
    font-weight: bolder;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.section-index p{
    display: inline;
}
.section-index p:hover{
    color: rgba(212, 170, 106);
}

.section-heading{
    color: rgb(66, 64, 64);
    font-weight: 400;
    letter-spacing: 0.2em;
    font-size: 1.5em;
}

.section-sub-heading h1{
    color: rgb(75, 72, 72);
    font-weight: 400;
    padding: 1% 0;
}

.section-text{
    font-size: 1.5em;
    color: rgb(71, 70, 70);
    font-weight: 300;
}

.know-more{
    margin: 1% 0;
}

.know-more button, #submitEmail, #contact-submit{
    outline: none;
    background: none;
    border: .3pt solid rgba(212, 170, 106, 0.726);
    padding: 3% 4%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(26, 26, 26);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
    position: relative;
}

.know-more button:hover, #submitEmail:hover, #contact-submit:hover {
  box-shadow: 0 8px 14px rgba(0,0,0,0.22), 0 10px 10px rgba(0,0,0,0.22);
}

button .ripple{
    border-radius: 50%;
    background-color: rgba(212, 170, 106,0.8);
    position: absolute;
    transition: none;
    transform: scale(0);
    animation: ripple 0.6s linear
}

@keyframes ripple{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}


.services{
    height: 110%;
    background: rgb(26, 26, 26)
}

.services .section-heading{
    color: rgb(196, 193, 193);
}

.service i{
    font-size: 2.5em;
    margin: 7% 0;
    color: rgba(212, 170, 106, 0.726);
}

.service i:hover {
    color: rgba(212, 170, 106);
}

.service-title {
    font-size: 1.6em;
    color: white;
    font-weight: lighter;
}

.service{
    margin: 3% 0;
}




.team-member{
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    height: 25em;
    position: relative;
    transition: all .4s ease-in-out;
}

.team-member::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all .2s ease-in-out;
}

#member-one::after{
    background: url("img/team1.jpg") no-repeat 50% 25%;
    background-size: cover;
}
#member-two::after{
    background: url("img/team2.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.team-member:hover{
    -moz-filter: none;
    -o-filter: none;
    -webkit-filter: none;
    filter: none;
}
.team-member:hover::after{
    transform: scale(1.05);
} 

.member-title h5{
    font-size: 1.5em;
    font-weight: 600;
}
.member-title h6{
    margin: 1.2em 0;
    font-size: 1.1em;
    font-weight: 500;
}



.newsletter{
    background: rgb(26, 26, 26);
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group h1{
    color: white;
    padding: 2%;
    margin-bottom: 3%;
    font-weight: 200;
    letter-spacing: 0.075em;
}

.inputWrapper{
    width: 75%;
    position: relative;
}

.form-control, .form-control:enabled, .form-control:focus, .form-control:active{
    background: transparent;
    color: white;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid rgb(196, 193, 193);
    border-radius: 0;
    position: relative;
    height: 3em;
    text-align: center;
    /* not sure bout text align */
}

.form-control::placeholder{
    color: rgba(212, 170, 106, 0.8);
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.form-control:focus::placeholder{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.inputWrapper::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: rgb(212, 170, 106);
    transition: all .4s ease-in-out;
}

.inputWrapper:focus-within::after, .inputWrapper:hover::after{
    width: 100%;
}

#submitEmail{
    margin-top: 3%;
    color: white;
    border: 1px solid rgb(212, 170, 106);
}

.contact{
    height: 80%;
}

#contact-from ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
}

#contact-from .inputWrapper{
    width: 100%;
}

#contact-from ul li input,#contact-from ul li input:focus, #contact-from textarea, #contact-from textarea:focus {
    color: #000;
    text-align: start;
}

#contact-from ul li input::placeholder,#contact-from ul li input:focus::placeholder, #contact-from textarea::placeholder, #contact-from textarea:focus::placeholder  {
    color: rgb(26, 26, 26);
    text-align: start;
}

#contact-msg{
    width: 100%;
    height: 6em;
}

#contact-submit{
    margin-top: 3%;
    color: rgb(26, 26, 26);
    border: 1px solid rgb(212, 170, 106);
}

footer{
    display: flex;
    background: rgb(26,26,26);
    width: 100%;
    height: 25vh;
}

#map {
    height: 100%;
    width: 100%;
  }